<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px"> Envie d’être la prochaine licorne de la french Tech ?🦄
 </h1>

<div style="text-align: center;" class="jumbotron">
  	<h3 style="color: #E95420 " class="display-3"> Grâce à THP, passez d'une idée à un produit</h3> 
  	<br>
		<h4>Faites développer votre Minimum Viable Product sous 24h 🕐 et obtenez vos premiers utilisateurs dans les jours qui suivent !</h4>
		<hr class="my-4">
			<p style="text-align: center"> The Hacking Project est une formation en 3 mois de coding back-end/front-end. Elle permet d'écquérir les bases nécessaires au métier de developper web.
				<br>
				<br>
				<br>
				<strong> THP, c'est : </strong>
				<br>
					<li>Des groupes de 6 élèves qui travaillent ensemble à travers toute la France</li>
					<li>Une communauté soudée qui travaille sous pression et sous délais restreints</li>
					<li>Un apprentissage intensif couvrant tous les aspects du developpement web </li>
					<li> Des projets réalistes à coder toutes les semaines (pourquoi pas le votre ?) </li>
				<br>
				<br>
				<br>
				<h4 style="color: #E95420"> <strong>Vous avez une idée d'application web mais ne savez pas la développer ?</strong></h4>
				<br>
				Nous pouvons nous en charger pour vous ! Les moussaillons THP doivent effectuer un projet final et seraient ravis de vous aider à réaliser vos rêves ! Venez nous proposer vos idées, nous serons ravis d'en parler avec vous.
			</p>
			 <div style="background-color: #EAEAEF" id="mc_embed_signup">
        <form action="https://thehackingproject.us18.list-manage.com/subscribe/post?u=b270efe2d490207f9a87b42f5&amp;id=b75f610409" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Inscrivez-vous à notre newsletter pour avoir plus de détails sur THP et ce que nous pouvons faire pour vous :</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b270efe2d490207f9a87b42f5_b75f610409" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Inscrivez-vous" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>
</div>

<br>

<br>

<h4 style="text-align: center; color: #E95420"> Vous pourrez retrouver ci-dessous les vidéos de présentations des projets finaux THP :</h4>

<br>

<div style="display: flex; justify-content: space-around;">
	<iframe width="420" height="315"
	src="https://www.youtube.com/embed/PD0BXdjRKHE">
	</iframe>
	<iframe width="420" height="315"
	src="https://www.youtube.com/embed/cReUFYg3vNQ">
	</iframe>
</div>
<br>
<br>
<br>

<h4 style="text-align: center; color: #E95420"> Exemples de projets que nous réalisons durant la formation :</h4>
<br>
<table style="color: black; margin: auto; table-size: 150%" class="table-primary">
  <thead>
    <tr>
      <th scope="col">Type de projet</th>
      <th scope="col">Objectif</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row">Scrapping</th>
      <td>Coder un programme de scrapping d'adresses mail</td>
      <td>Ruby</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Bot Twitter</th>
      <td>Growth Hacking, envoyer/retrouver des tweets ciblés</td>
      <td>Ruby</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Eventbrite Like</th>
      <td>Plateforme d'organisation d'événements et de paiement en ligne</td>
      <td>Ruby, Rails, SQL</td>
    </tr>
     <tr class="table-light">
      <th scope="row">Google Like</th>
      <td>Recréer la landing page fonctionnelle de Google</td>
      <td>HTML, CSS, Javascript</td>
    </tr>
  </tbody>
</table> 

