<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Le web a porté de main !</h2>
                <hr class="light">
                <p class="text-faded">The Hacking Project propose à ses moussaillons une aventure intense dans le milieu hostile du développement Web. En groupe ils apprendront les différents langages informatiques adaptés à la création d'application Web, du back-end au front-end. The Hacking Project leur donnerons toutes les ressources nécessaires à leur apprentissage ainsi que de nombreux projets à réaliser en groupe. </p>
            </div>
        </div>
    </div>
</section>

