<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Restons en contact ! </h2>
                <hr class="primary">
                <p> Es-tu prêt a participer à cette formation gratuite ? Contactes nous si tu souhaites d'avantage d'informations ou inscris toi simplement à notre newsletter ci-dessus !</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>06 95 46 60 80</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">bonjour@thehackingproject.org</a></p>
            </div>
        </div>
    </div>
</section>

