<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> The Hacking Project </h1>
            <hr>
            <p>En seulement 2 mois de formation GRATUITE mais intense en pair-learning tu seras capable de maîtriser les outils du développement web pour créer ta propre application ! </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"> Continuer </a>
        </div>
    </div>
</header>

